
@{
    ViewBag.Title = "LoggedIn";
}


<link rel="stylesheet" href="~/Content/style2.css" />
<link rel="stylesheet" href="~/Content/Sofia.css" />
<br />
<br />
<br />
<br />
<br />



<div class="xop-section">
    <ul class="xop-grid">
        <li>
            <div class="xop-box xop-img-1">
                <a href="../exam.aspx" style="color:white">
                    <div class="xop-info">


                        <h3>Security+ (SYS-501)</h3>
                        <p>Security+ quiz to prepare for your upcoming exam!</p>

                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-2">
                <a href="#" style="color:white">
                    <div class="xop-info">
                        <h3>Forms</h3>
                        <p>Join our community form board</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-3">
                <a href="#" style="color:white">
                    <div class="xop-info">
                        <h3>Place Holder</h3>
                        <p>Random Random Random Random Random Random Random Random</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-4">
                <a href="#" style="color:white">
                    <div class="xop-info">
                        <h3>Place Holder</h3>
                        <p>Random Random Random Random Random Random Random Random</p>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>