@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/Content/style2.css" />

</head>
<body>




    <div id="nav">
        <center>
            <br />
            <br />
            <img src="~/images/aboutme1.png" style="width:400px; height:auto;" />
            <ul>
                <li><b>Certifcations</b></li>
                <li><i>CompTia Security+</i></li>
                <li><i> MTA 98-361 Software Development Fundamentals</i></li>
                <li><i> AZ-203 Azure Developer Associate </i></li>
            </ul>

        </center>
    </div>

    <div id="main">

        <br />
        <br />

        <p>

            Welcome to Tanks 2 Tech! My name is David I am a transiting veteran. I served in the Marine Corps as a M1A1 Tank Crewmen. I thoroughly enjoyed my time spent in the Marine Corps I do not know many that can say they spent their time operating one of the World’s most advance tanks daily.
            Throughout my career I was fortunate to enjoy the travel and adventure part of the military and not just the world class trip to the middle east.
            Some of the most memorable moments I have had were living in Cairo, Egypt, Moscow, Russia, Austria, and Hong Kong.
        </p>

        <p>
            But as you can see, I am making a huge career change going from Tanks 2 Tech. Well there is a lot of technology found within a tank it self.
            But I have been drawn to computers from an early age. Working with Microsoft Front page, Dreamweaver, Micromedia flash “now own by adobe”, 3D Studio Max, and Bryce 3D
            All of these tools just amazed me, I honestly thought there was nothing better than being a graphic designer. Which lead me to learning HTML, DHTML, and some JavaScript so I could create websites and present the work I was creating to the world.
            15 years later the desire to work with computers and create something has not died, just transformed and manifested into different forms.

        </p>

        <p>

            During my time in the military I earned a BA in Homeland Security and Emergency Management being from Florida is seem to be fitting that I was drawn to Emergency Management and disaster relief in general to be able to help people in need has always been a driving passion of mine. While earning my degree I seen how technology has a huge impact on not only Emergency Management and disaster relief but also Homeland Security as a whole.
            So I was drawn to earning an Undergraduate Certificate Information Systems Security. The more I learned about different forms of technology it felt as I were getting back to my original passion for computing.
            Which allowed me to take advantage of an opportunity of a lifetime by attending the Microsoft and Software Systems Academy (MSSA) Cloud Application Development (CAD) cohort. In Quantico, VA. Where I have been learning how to build application with C#, TSQL, HTML, JavaScript, CSS, ASP.NET, and MVC.
            It is an amazing feeling to be able to create tools that can help people in all walks of life.
        </p>


    </div>

    <div id="Ball1">

        <p> </p>
    </div>


    <div id="Ball2">
        <p>  </p>
    </div>

    <div id="Ball3">
        <p> </p>
    </div>

    <div id="Ball4">
        <p>  </p>
    </div>



</body>
</html>
