@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/Content/style2.css" />

<br />

<div id="nav">
    <center>
        <br />
        <br />
        <br />
        <h1>Contact Me</h1>

        <img src="~/images/BrokeRound1.png" style="width:400px; height:auto;" />
        <br />
        <p><i>I am pretty sure this is suppose to be in one piece.....</i></p>
        <p><i>Looks like we are done for the day.</i></p>


    </center>
</div>

<center>
    <div id="main">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


        <a href="mailto: david.babers@outlook.com">
            <img src="~/images/64800-icons-symbol-computer-logo-prototype-email.png" style="width:150px; height:100px;">

        </a>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


        <a href="https://www.linkedin.com/in/david-babers/">
            <img src="~/images/61109.png" style=" width:150px; height:100px;">
        </a>



    </div>
</center>



