@{
    ViewBag.Title = "Home Page";
}


<div>
    <center>
        <center>
            <h1><b>Join me on my Journey </b></h1>
            <h1><b>From Tanks 2 Tech </b></h1>

        </center>


        <img src="~/images/business card logo.jpg" />
    </center>


</div>



<div class="col-md-3">

    <center>



    </center>
</div>
