
@{
    ViewBag.Title = "Photos";
}

<link rel="stylesheet" href="~/Content/style2.css" />


<br />
<br />
<br />

<div id="Ball1">
    <center><h3>Photos</h3></center>
</div>


<br />
<br />




<!DOCTYPE html>

<div>


    <style>
        .grid-container {
            display: grid;
            height: 400px;
            align-content: center;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            background-color: #e6e6e6;
            padding: 0px;
        }

            .grid-container > div {
                background-color: #e6e6e6;
                text-align: center;
                padding: 0px 0;
                font-size: 30px;
            }
    </style>





    <div class="grid-container">
        <div>
            <a target="_blank" href="~/images/lainerfire.jpg">
                <img src="~/images/lainerfire.jpg" style="width:400px; height:200px;">
            </a>

        </div>

        <div>
            <a target="_blank" href="~/images/onthemove.jpg">
                <img src="~/images/onthemove.jpg" style="width:400px; height:200px;">
            </a>
        </div>

        <div>
            <a target="_blank" href="~/images/tanksunset.jpg">
                <img src="~/images/tanksunset.jpg" style="width:400px; height:200px;">
            </a>
        </div>

        <div>
            <a target="_blank" href="~/images/TanksWFlag.jpg">
                <img src="~/images/TanksWFlag.jpg" style="width:400px; height:200px;">
            </a>
        </div>

        <div>
            <a target="_blank" href="~/images/zero.jpg">
                <img src="~/images/zero.jpg" style="width:400px; height:200px;">
            </a>
        </div>

        <div>
            <a target="_blank" href="~/images/IMG_1143.JPG">
                <img src="~/images/IMG_1143.JPG" style="width:400px; height:200px;">
            </a>


        </div>



    </div>






    </div>