
@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style2.css" />

</head>
<body>

    <div id="Ball1">
        <center><h3> Projects </h3></center>
    </div>



    <div id="nav">

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <center>
            <a href="https://www.github.com/david-b613/">
                <img src="~/images/github.png" alt="HTML tutorial" style="width:500px;height:300px;">
            </a>
        </center>
    </div>

    <div id="main">
        <br />
        <br />

        <h3> Math Quiz</h3>

        <p>
            This console application was created for the user to select the amount of Math questions they would like to take. The test can consist of either Addition, multiplication, subtraction, or division.
            The program will let the user the if the question was wrong or correct if.
            The user answers the question incorrectly the correct answer will be displayed, and they will be move to the next question.
            Keep in mind the questions will always be random and the user will not be able to return to the previous question once the question has been answered.
            Once the exam is complete the average score will be presented the user has the option to either quit the program on conduct another test.
        </p>


        <p>
            <b>
                Please see link below
            </b>
        </p>


        <a href="https://github.com/David-B613/ISTA-421/tree/master/Exercise/ISTA-421-EX12" style="color:black">Math Quiz</a>


        <h3> File Monitor</h3>

        <p>
            This is a script used to monitor what is going on within an identified location on the user computer. The script will open the command prompt windows and record if a file has been Changed, Created, deleted, Moved, and renamed.  If the file has been moved or renamed the script will let you know the location the file was moved from and its new location along with time and the actions took place.
            Practical use could be used to see if something is going on in the background of your computer that you are not aware.

        </p>

        <p><b>Please see link below</b></p>

        <a href="https://github.com/David-B613/Automation/tree/master/FileMonitor" style=" color:black">File Monitor</a>




        <h3> File Organizer (In progress) </h3>

        <p> This is script is being created and designed for the user to select a location on their computer. Where they will have their files downloaded or moved to. Ideally the download folder or the desktop. Once the file is recognized within the designated location the computer will identify the file extension in example. JPG, PNG, GIF, and BMP are all images so it will be sent to the picture folder. This will hold true for all other files types and they will be sent to their designated folders. </p>
        <p><b>Please see link below</b></p>

        <a href="https://github.com/David-B613/Automation/tree/master/FileOrganizer" style="color:black">File Organizer</a>
    </div>


    <div id="Ball1">

        <p> </p>
    </div>


    <div id="Ball2">
        <p>  </p>
    </div>

    <div id="Ball3">
        <p> </p>
    </div>

    <div id="Ball4">
        <p>  </p>
    </div>



</body>
</html>



